@import 'bulma/bulma';
@import 'bulma-divider/dist/bulma-divider';
@import 'bulma-pageloader/dist/bulma-pageloader';
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: inherit;
  }
}
